<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Alegreya:400,400i,700" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />
</head>
<body id="top">

  <header>

    <h2><a href="/">Ellerd Business Services</a></h2>
    <p class="location">Orange County, California</p>
    <p class="phone">800-445-1040</p>
    <p class="action"><a href="#menu">Menu</a></p>

    <h1>{{ page.title }}</h1>

  </header>

  <main>

    {{ content }}

  </main>

  <footer id="menu">

    <h2><a href="/">Ellerd Business Services</a></h2>
    <ol>
      <li><a href="/about">About</a></li>
      <li><a href="/services">Our services</a></li>
      <li><a href="/start-business">Starting a new business</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <!--
      <li><a href="#visit">Visit us</a></li>
      -->
    </ol>

    <h2 id="contact">Contact us for a free consultation</h2>

    <p><a href="mailto:contact@ellerdtax.com">contact@ellerdtax.com</a></p>

    <dl>
      <dt>Phone <em>(Toll-Free)</em></dt>
      <dd>800-445-1040</dd>
      <dt>Phone</dt>
      <dd>714-847-5333</dd>
      <dt>FAX</dt>
      <dd>714-825-0578</dd>
    </dl>

    <!--
    <h2 id="visit">Visit us</h2>
    <p>
      Ellerd Business Services<br />
      48 Tesla<br />
      Irvine, California 92618
    </p>
    <figure>
      <div data-aspect-ratio-landscape="2/1" data-aspect-ratio="1/1">
        <a href="https://www.google.com/maps/place/48+Tesla,+Irvine,+CA+92618/@33.6321248,-117.7391603,17.74z/data=!4m5!3m4!1s0x80dce7df48cff8e1:0x6ba66e19ffee3ee7!8m2!3d33.6321852!4d-117.7382229" target="_blank" class="has-icon">

        <picture>
          <source srcset="https://maps.googleapis.com/maps/api/staticmap?center=33.6321248,-117.7391603&amp;markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C33.6321248,-117.7391603&amp;zoom=13&amp;size=640x320&amp;scale=2&amp;key=AIzaSyBP5KxqO9v1sLhXlkrG3vDiDdOJvYLJ0H4 640w, https://maps.googleapis.com/maps/api/staticmap?center=33.6321248,-117.7391603&amp;markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C33.6321248,-117.7391603&amp;zoom=13&amp;size=640x320&amp;scale=2&amp;key=AIzaSyBP5KxqO9v1sLhXlkrG3vDiDdOJvYLJ0H4 1280w" sizes="100vw" media="(min-aspect-ratio: 1/1)"/>
          <source srcset="https://maps.googleapis.com/maps/api/staticmap?center=33.6321248,-117.7391603&amp;markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C33.6321248,-117.7391603&amp;zoom=13&amp;size=640x640&amp;key=AIzaSyBP5KxqO9v1sLhXlkrG3vDiDdOJvYLJ0H4 640w, https://maps.googleapis.com/maps/api/staticmap?center=33.6321248,-117.7391603&amp;markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C33.6321248,-117.7391603&amp;zoom=13&amp;size=640x640&amp;scale=2&amp;key=AIzaSyBP5KxqO9v1sLhXlkrG3vDiDdOJvYLJ0H4 1280w" sizes="100vw"/>
          <img src="https://maps.googleapis.com/maps/api/staticmap?center=33.6321248,-117.7391603&amp;markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C33.6321248,-117.7391603&amp;zoom=13&amp;size=640x640&amp;key=AIzaSyBP5KxqO9v1sLhXlkrG3vDiDdOJvYLJ0H4" width="1000" alt="Ellerd Business Services on Google Maps"/>
        </picture>
        <span class="icon">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
          <path fill="black" d="M17.9,2.4c-0.1-0.2-0.2-0.3-0.4-0.4C17.5,2,17.4,2,17.3,2h-5.8c-0.4,0-0.7,0.3-0.7,0.7s0.3,0.7,0.7,0.7h4.1
          L10.9,8c-0.3,0.3-0.3,0.7,0,1c0.1,0.1,0.3,0.2,0.5,0.2c0.2,0,0.4-0.1,0.5-0.2l4.6-4.6v4.1c0,0.4,0.3,0.7,0.7,0.7
          c0.4,0,0.7-0.3,0.7-0.7V2.7C18,2.6,18,2.5,17.9,2.4z"/>
          <path fill="black" d="M9.1,10.9c-0.3-0.3-0.7-0.3-1,0l-4.6,4.6v-4.1c0-0.4-0.3-0.7-0.7-0.7S2,11.1,2,11.5v5.8
          c0,0.1,0,0.2,0.1,0.3c0.1,0.2,0.2,0.3,0.4,0.4C2.5,18,2.6,18,2.7,18h5.8c0.4,0,0.7-0.3,0.7-0.7c0-0.4-0.3-0.7-0.7-0.7H4.5L9.1,12
          C9.3,11.7,9.3,11.2,9.1,10.9z"/>
          </svg>
        </span>
        <span class="credit">Ellerd Business Services on Google Maps</span>
        </a>
      </div>
    </figure>
    -->

    <p class="action"><a href="">Back to top</a></p>
  </footer>

  {% comment %}
  <script type="text/javascript">
  /* <![CDATA[ */
    (function() {
      var images = [
        {
          image: "paper.jpg",
          className: "dark"
        },
        {
          image: "field.jpg",
          className: "dark"
        }
      ];
      var random = Math.floor(Math.random() * images.length);
      document.querySelector('header').style.backgroundImage = "url(/images/" + images[random].image + ")";

    })();
  /* ]]> */
  </script>
  {% endcomment %}

</body>
</html>
